h1 {
  color: goldenrod;
}
body {
  /* background-color: #f0f0f0; */
  background-image: url('./images/table.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 180%;
  font-family: Trebuchet MS, sans-serif;
  font-size: larger;
  text-align: center;
  color: white;
  font-weight: bold;
}
#message-el{
  font-style: italic;
}
#start-btn{
  padding: 10px;
  border: none;
  border-radius: 2px;
  margin: 5px;
  background-color: goldenrod;
  color: #016f32;
  font-weight: 800;
}
#new-card-btn{
  padding: 10px;
  border: none;
  border-radius: 2px;
  margin: 5px;
  background-color: goldenrod;
  color: #016f32;
  font-weight: 800;
}